@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: var(--font-title);
}

p,
.font-secondary {
  font-family: var(--font-text);
}

button,
a,
.font-accent {
  font-family: var(--font-button);
}

.sidenav {
  opacity: 0;
  transition: all opacity 0.5s;
}

.open {
  opacity: 1;
  transition: all 0.5s;
}

.main-title {
  @apply text-6xl md:text-7xl lg:text-8xl font-bold  tracking-tighter;
}

.content-title {
  @apply text-left md:text-center text-5xl md:text-6xl lg:text-7xl font-bold;
}

.content-subtitle {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold;
}

.text-content {
  @apply text-base  lg:text-lg opacity-75 leading-none;
}


.index-hero-img {
  background-image: url("/red-logistica/imgs/bannerimg.webp");
}


.autoscroll-parent {
  @apply overflow-hidden relative min-h-16 w-full;
}

.autoscroll-element {
@apply absolute animate-x;
}

@keyframes animatex {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-x {
  animation: animatex 10s linear infinite;
}
