@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: var(--font-title);
}

p,
.font-secondary {
  font-family: var(--font-text);
}

button,
a,
.font-accent {
  font-family: var(--font-button);
}

#mobile-nav {
  @apply w-[85%]  fixed top-28 py-20 right-0 z-[49]  bg-base-200 glass bg-opacity-95 text-black min-h-screen max-w-xs lg:hidden;
  @apply -right-[85%];
  opacity: 0;
  transition: all  0.5s ease-in-out;
}

#mobile-nav.open {
  @apply right-0;
  opacity: 1;
}

.main-title {
  @apply text-6xl md:text-7xl lg:text-8xl font-bold  tracking-tighter;
}

.content-title {
  @apply text-left md:text-center text-5xl md:text-6xl lg:text-7xl font-bold;
}

.content-subtitle {
  @apply text-3xl md:text-4xl lg:text-5xl font-bold;
}

.text-content {
  @apply text-base  lg:text-lg opacity-75 leading-none;
}


.index-hero-img {
  background-image: url("/red-logistica/imgs/bannerimg.webp");
}

.bg-media {
  @apply bg-emerald-300;
  background-image: url("/red-logistica/imgs/project.webp");
  background-position: bottom;
  background-size: cover;
  background-blend-mode: screen
}

.swap-close {
  transition: all ease-in-out 0.5s;
}